html{
    box-sizing: border-box;
}
body{
    margin: 0;
    min-height: 100vh;
    background-color: #000;
    font-family: 'Roboto', sans-serif;
}
h1{
    color: aliceblue;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 40px;
    letter-spacing: 5px;
}
/* loader */
.loader{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    border-radius: 50px;
}
.loader img{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.img-container{
    margin: 10px 10%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: 1fr;
    row-gap: 20px;
    column-gap: 10px;
}
.img-container img{
    width: 100%;
    margin-top: 2rem;
    align-self: center ;
}
@media screen and (max-width: 400px) {
    h1{
        font-size: 30px;
    }
}
