html{
    box-sizing: border-box;
}
body{
    margin: 0;
    min-height: auto;
    background-color: #ECF2FF;
}
.navbar{
    background-color: #3B4CCA;
    padding: 20px 8%;
    margin-bottom: 5rem;
}
.pokemon-main-container{
    background-color: #ECF2FF ;
    height: auto;
    width: 100%;
    max-width: 1200px;
    margin: auto auto;
}
.pokemon-main-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    row-gap: 15px;
}
.card{
    /* background-color: #ECF2FF ; */
    background-color: #FFFAD7;
    border: solid 4px #FFDE00;
    justify-self: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* .card-img-top{
    margin: 20px;
} */
.card-body{
    background-color: #FFFAD7;
    text-align: center;
}
.card-img-top{
    background-color: #3B4CCA;
    margin: auto auto;
    margin-top: 20px;
    width: 80%;
    border: solid 4px #FFDE00;
}
/* MODAL */


@media screen and (max-width: 1250px) {
    .pokemon-main-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 900px) {
    .pokemon-main-container{
        grid-template-columns: repeat(1, 1fr);
    }

}
